@CHARSET "UTF-8";

.ui-panel-wrapper {
	background: rgba(0, 0, 0, 0) !important;
}

.ui-panel-display-reveal {
	background: rgba(0, 0, 0, 0.7) !important;
}


.infoBoxTable {
	background-color: gray !important;
}

.ui-icon-refresh:after {
	background-image: 
		url('https://s.yimg.com/pw/images/goodies/white-small-circle.png') !important;
}

body {
	/*background:
		url("https://farm6.staticflickr.com/5485/9527151833_1f55233c2f_n.jpg")
		no-repeat center fixed; */
	/*background-size: cover;*/
}

body > span {
  /*content: "";*/
  position: fixed;
  left: 0;
  right: 0;
  z-index: -10;
  
  display: block;
  background: 
  	url('https://farm6.staticflickr.com/5485/9527151833_1f55233c2f_n.jpg')
	/* url('http://farm5.staticflickr.com/4062/4300482873_e6ec1b2956_m.jpg') */
  	no-repeat center fixed; 
  width: 1200px;
  height: 1200px;
  background-size: cover;
  
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.ui-mobile [data-role=page] {
	background: rgba(0, 0, 0, 0.2);
}

.ui-mobile [data-role=header] {
	background: rgba(0, 0, 0, 0.5);
}

.ui-mobile [data-role=footer] {
	background: rgba(0, 0, 0, 0.8) !important;
}

.ui-input-search {
	background-color: transparent;
	background: rgba(0, 0, 0, 0.3);
}

.ui-listview li * {
	background-color: transparent;
}

#list>li,#storeList>li,div[data-role="collapsible"] {
	background: rgba(0, 0, 0, 0.3);
}

.tripCard {
	/* width: 44% !important; */
	margin: 5% !important;
	/* float: left; */
	/* border: 1px solid #ccc !important; */
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	background: rgba(0, 0, 0, 0.4);
}

.ui-listview-inset>.ui-li-static,.ui-listview-inset>.ui-li-divider,.ui-listview-inset>li>a.ui-btn
	{
	border-right-width: 0px !important;
	border-left-width: 0px !important;
}

.ui-listview>.ui-li-static,.ui-listview>.ui-li-divider,.ui-listview>li>a.ui-btn
	{
	border-width: 0px 0 0 !important;
	border-style: none !important;
}

.ui-collapsible-themed-content .ui-collapsible-content {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0px !important;
	border-style: none !important;
}

.cardHeader {
	background: transparent;
	background: rgba(0, 0, 0, 0.3);
}

.cardHeader>h2 {
	font-weight: bold;
	float: left;
}

.cardHeader>a {
	font-weight: lighter !important;
	float: right;
	/* background-image:
		url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E"); */
}

.headerSeperator {
	float: left;
	width: 100%;
}

.cardData {
	width: 100%;
	float: left;
}

.dataCell {
	width: 50%;
	float: left;
	border-color: white; border-bottom-width : thin; border-bottom-style :
	dotted;
	padding: 10px 0 10px 0;
	border-bottom-width: thin;
	border-bottom-style: dotted;
}

.linkData {
	width: 20px;
	float: right;
}

.costData {
	
}

.stopsData {
	
}

.distanceData {
	
}

.dataHeader,.dataValue {
	text-align: center;
}

.dataValue {
	
}