<script id="planCard" type="text/html">
	<li class="tripCard" >
		<div class="cardHeader">
			<h2>{{planName}}</h2>
			<a href="#resultsByDistancePage" class="tripGoLink" data-role="button" data-icon="carat-r" data-iconpos="notext">GO</a>
		</div>
		<hr class="headerSeperator"/>
		<div class="cardData">
			<div class="dataCell distanceData">
				<div class="dataHeader">Drive</div>
				<div class="dataValue">{{totalDistance}}mi</div>
			</div>
			<div class="dataCell stopsData">
				<div class="dataHeader">Visit</div>
				<div class="dataValue">{{totalStores}} stores</div>
			</div>
			<div class="dataCell availData">
				<div class="dataHeader">Pickup</div>
				<div class="dataValue">{{totalAvailability}} of {{totalRequested}} items</div>
			</div>
			<div class="dataCell costData">
				<div class="dataHeader">Pay</div>
				<div class="dataValue">${{totalCost}}</div>
			</div>			
			
		</div>
		</li>
</script>

<script id="storeList" type="text/html">
	<li data-store="{{storeName}}" data-latitude="{{latitude}}" data-longitude="{{longitude}}">
		<div class="ui-li-count">{{distanceFromRequestedLocation}} mi</div>
		<a href="#storeDetailsPanel">{{storeName}}</a>
	</li>
</script>


<script id="infoboxTemplate" type="text/html">
	<table class="infoBoxTable">
	<tr>
		<td>Store: </td>
		<td><a href="storeDetailsPanel">{{title}}</a></td>
	</tr>
	<tr>
		<td>Availability: </td>
		<td>{{3/7}}</td>
	</tr>
	</table>
</script>


